# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Mobile_Network\EE447_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
